
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/StudentManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-custom">
            <div class="container-fluid">
  <div style="display: flex; align-items: center; justify-content: center; color: lemonchiffon;">
    <img src="~/Image/icon4.png" width="100px" height="100px" alt="Logo" style="margin-right: 10px;" />
             <span class="nav-link text-white fs-5" style="white-space: nowrap; font-size: 18px; letter-spacing:normal">School Management</span>
</div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                     
                        <li class="nav-item">
                            <a class="nav-link text-white nav-link-custom" asp-area="" asp-controller="Home" asp-action="AdminHome">Home</a>
                        </li>
                        @if (User.IsInRole(StudentManagement.Common.CustomRole.Admin))
                        {
                            

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    User
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="Registration">
                                            <i class="bi bi-person-fill"></i> User Registration
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="TeacherView">
                                            <i class="bi bi-person-lines-fill"></i> Teacher Details
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="StudentView">
                                            <i class="bi bi-person-workspace"></i> Student Details
                                        </a>
                                    </li>
                                
                       
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acedamic
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="Subject">
                                            <i class="bi bi-book-half"></i> Subjects Registration
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="Class">
                                            <i class="bi bi-house-fill"></i> Class Registration
                                        </a>
                                    </li>
                                
                                      <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="ViewSubject">
                                                <i class="bi bi bi-journals"></i> Subject Details
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="ClassView">
                                            <i class="bi bi-journal-text"></i> Class Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Marks
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksForm">
                                            <i class="bi bi-person-fill"></i> Enter Marks
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksView">
                                            <i class="bi bi-person-fill"></i> ViewMarks
                                        </a>
                                    </li
                                        <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksAllView">
                                            <i class="bi bi-person-fill"></i> All ViewMarks
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                        }
                        else if (User.IsInRole(StudentManagement.Common.CustomRole.Teacher))
                        {
                         
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    User
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="Registration">
                                            <i class="bi bi-person-fill"></i> User Registration
                                        </a>
                                    </li>
                              
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="StudentView">
                                            <i class="bi bi-person-vcard"></i> Student Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acedamic
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="Subject">
                                            <i class="bi bi-book-half"></i> Subjects Registration
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="Class">
                                            <i class="bi bi-house-fill"></i> Class Registration
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="ViewSubject">
                                            <i class="bi bi bi-journals"></i> Subject Details
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="ClassView">
                                            <i class="bi bi-journal-text"></i> Class Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Marks
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksForm">
                                            <i class="bi bi-bookmark-plus"></i> Enter Marks
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksView">
                                            <i class="bi bi-card-checklist"></i> ViewMarks
                                        </a>
                                    </li
                                        <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksAllView">
                                            <i class="bi bi-card-list"></i> All View Marks
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                        }
                        else if (User.IsInRole(StudentManagement.Common.CustomRole.Student))

                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acedamic
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="ViewSubject">
                                            <i class="bi bi bi-journals"></i> Subject Details
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Subject" asp-action="ClassView">
                                            <i class="bi bi-journal-text"></i> Class Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white nav-link-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Marks
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                   
                                    <li>
                                        <a class="dropdown-item " asp-area="" asp-controller="Marks" asp-action="MarksView">
                                            <i class="bi bi-person-fill"></i> ViewMarks
                                        </a>
                                    </li
                                 
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
     
            <partial name="_LoginPartial" />
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </header>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
