@using Microsoft.AspNetCore.Identity
@inject SignInManager<RegistrationModel> signInManager
@using StudentManagement.Models

<style>
    .custom-icon {
        font-size: 2rem; /* Adjust this value as needed */
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<ul class="navbar-nav ms-auto d-flex align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item ms-3">
            <span class="nav-link text-white fs-5">
                Welcome, <span class=" text-white">@Context.Session.GetString("FullName")</span>!
            </span>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px;">
                <i class="bi bi-person-circle custom-icon"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item text-dark" asp-controller="Account" asp-action="Profile">
                        <i class="bi bi-person-fill"></i>Profile
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
       
    }
    else
    {
        <li class="nav-item ms-3">
            <span class="nav-link text-white fs-5 fw-semibold">
                Welcome, <span class="fw-bold text-warning">Guest</span>!
            </span>
        </li>
    }
</ul>
