@using StudentManagement.ViewModel
@model ResetPasswordViewModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Accountlayout.cshtml";
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

<div class="alert-container">
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success alert-dismissible fade show custom-alert" role="alert">
            <strong>Success!</strong> @successMessage
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show custom-alert" role="alert">
            <strong>Error!</strong> @errorMessage
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>

<body class="bodystyle">


    <div class="login-container">
        <img src="~/Image/logo2.png" width="125px" height="125px" alt="Logo" />
        <h2 class="text-center mb-4 fw-bold">Reset Password</h2>

        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />


            <div class="mb-3">
                <label asp-for="Email" class="form-label d-flex align-items-center">
                    <i class="bi bi-envelope-fill me-2"></i>
                    Email
                </label>
                <input asp-for="Email" class="form-control" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label d-flex align-items-center">
                    <i class="bi bi-lock-fill me-2"></i>
                    Password
                </label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label d-flex align-items-center">
                    <i class="bi bi-lock-fill me-2"></i>
                    Confirm Password
                </label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Reset Password" class="btn btn-success" />
            </div>

        </form>
    </div>
</body>
