

.login-container {
    margin-left: 450px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height:100%;
}


    .login-container:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .login-container img {
        display: block;
        margin: 0 auto 1rem;
        transition: transform 0.2s ease-in-out;
    }


        .login-container img:hover {
            transform: scale(1.05); /* Slightly enlarge image on hover */
        }


.mb-3 label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 4px;
}

    .form-control:focus {
        border-color: lightblue;
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
    }


.btn-success {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

    .btn-success:hover {
        background-color: #218838;
    }

.btn-primary {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

    .btn-primary:hover {
        background-color: #218838;
    }

.float-end {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}


.form-check-label {
    font-size: 0.9rem;
}

.bodystyle {
    background-color: #4A90E2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    font-family: 'Times New Roman';
}

.small-btn {
    width: 0.75em;
    height: 0.75em;
    font-size: 0.75em; /* Adjust icon size */
}

.alert-container {
    display: flex;
    justify-content: center;
}

.custom-alert {
    width: 50%; /* Adjust the width as needed */
    text-align: center;
}

.card-custom {
    background-color: #b0c4de;
}