html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label{
    font-weight:550;
}

* {
    font-family: Roboto;
}

a.navbar-brand {
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1b6ec2;
    text-decoration: none;
}

a {
    color: #0077cc;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item .nav-link {
    color: #FFFFFF; 
    font-size: 20px; /* Adjusted font size */
    font-weight: 500;
    margin-right: 25px; /* Space between items */
    transition: color 0.3s ease, transform 0.3s ease;
    align-content: center;
}

    .navbar-nav .nav-item .nav-link:hover {
        
        transform: scale(1.1); /* Slight scale effect on hover */
    }

    .navbar-nav .nav-item .nav-link.active {
        color: #fff;
        background-color: #3399ff; /* Active link background color */
        border-color: #1861ac;
    }

.navbar {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1b6ec2;
    text-align: center;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
    flex-grow: 1;
}

.navbar-custom {
    background-color: #2C73B1;

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;

}

label {
    font-weight: 550;
}


.alert-container {
    display: flex;
    justify-content: center;
}

.custom-alert {
    width: 50%; /* Adjust the width as needed */
    text-align: center;
}


/* Transparent Dropdown Styles */
.navbar .dropdown-menu {
    background-color: #e0f7fa;
    font-size: 20px;
    z-index: 1050; /* Bootstrap default */
    position: absolute;
}

    .navbar .dropdown-menu .nav-link {
        color: #e0f7fa;
        padding: 10px 20px;
        transition: all 0.3s ease;
        font-size: 16px;
    }


    /* Remove blue focus color */
    .navbar .dropdown-menu .dropdown-item:focus,
    .navbar .dropdown-menu .dropdown-item:active {
        background-color: transparent; /* Remove the blue background */
        color: inherit; /* Keep text color unchanged */
        outline: none; /* Remove the outline */
        box-shadow: none; /* Remove focus shadow */
    }
